$primary-color: #1db954;
$primary-color-hover: #1ed75f;

$font-light: #fff;
$font-gray: #9e9e9e;
$font-dark: #000;

$border-light-dark: #9e9e9e;
$border-gray-light: #3b3b3b;

$background-primary: $primary-color;
$background-light: #fff;
$background-gray-light: #3b3b3b;
$background-gray: #2d2d2d;
$background-gray-medium: #1c1c1c;
$background-gray-dark: #101010;
$background-gray-dark-light: #141414;
$background-drak: #000;

$background-gray-light-hover: #494949;
$background-gray-hover: #3c3c3c;

$danger: #f00;
